@font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}


* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    scroll-behavior: smooth;
}


button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

:root {

    font-size: 62.5%;
    /* 10px on default */

    --text-color: #f8f9fa;
    --text-color2: #ced4da;
    --background-color: rgb(33, 37, 41);
    --background-color-rgb: 33, 37, 41;








    --color1: #f8f9fa;
    --color2: #e9ecef;
    --color3: #dee2e6;
    --color4: #ced4da;
    --color5: #adb5bd;
    --color6: #6c757d;
    --color7: #495057;
    --color8: #343a40;
    --color9: #212529;


    --color10: #3acfd5;
    --color11: #3a6073;
    --color12: #3a7bd5;
}




.dark-mode {}



/* scroll bar settings */


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color8);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color6);
}


p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text-color2);
}

h1 {
    color: var(--text-color);
}

h2 {}








